extends layout

block content
  h1= title
  p Welcome to #{title}

  if item
    each item in items
      h2= item.name
      a
        h3= item.description
        p= item.category
        p= item. price
        p= item.stock_quantity
  else
    h2= "there's no items here"

