extends ../layout

block content
  h1 Items

  if items
    each item in items
      .item(style='background-color: #eee; padding: 5px; border-radius: 5px;')
          a(href=`/items/${item._id}`)
            h2.name= item.name
          h3.description= item.description
          p.category= item.category.name
          p.price= item.price
          p.stock-quantity= item.stock_quantity
  else
    h2= "there's no items here"

